*{
    padding:0;
    margin: 0;
}
@font-face {
    font-family:SourceSansPro-Bold;
    src: url(../font/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family:SourceSansPro-Regular ;
    src: url(../font/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
.continer{
    display: flex;
}
.meanhead{
    font-family: SourceSansPro-Bold;
    font-size: 15px;
    letter-spacing: 5px;
    color: #43425D;
    margin-left: 98px;
    margin-top: 95px;
}
.mhead{
    font-family: SourceSansPro-Bold;
    font-size: 15px;
    letter-spacing: 5px;
    color: #43425D;
    margin-left: 129px;
    margin-top: 29px;
}
.meanpar{
    margin-top: 144px;
    font-family:SourceSansPro-Regular;
    font-size: 13;
    color: #4D4F5C;
    margin-left: -246px;
  }
  .mpar{
    margin-top: 73px;
    font-family:SourceSansPro-Regular;
    font-size: 18px;
    color: #4D4F5C;
    margin-left: -227px;
  }
  .write-check{
    font-family:SourceSansPro-Regular;
    font-size: 15px;
    color: #707070;
  }
  .sing-up{
    display: flex;
    justify-content: space-between;
    margin-left: -47px;
  }
  .forget{
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    color: #707070;
    margin-left: 135px;
  }
.login{
    justify-content: center;
    margin-top: 200px;
    margin-left: -257px;
    color: #43425D;
}
.data{
    width: 93%;
    display: block;
    border: none;
    border-bottom: 2px solid #E9E9F0;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 17px;
    padding: 10px;
    margin-left: -46px;
}
.data-sign{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #E9E9F0;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 17px;
    padding: 10px;
}
.but:hover{
color:#FFFFFF ;
background-color:#4D4F5C ;
}
.check{
    margin-top: 27px;
    margin-left: -19px;
}
.text-check{
    font-family:SourceSansPro-Regular;
    font-size: 15px;
    color: #707070;
}
.but{
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background-color: #43425D;
    margin-top: 71px;
    padding-right: 38px;
    padding-left: 36px;
    padding-top: 3px;
    padding-bottom: 9px;
}
.bottom-text{
    font-family:SourceSansPro-Regular;
    color: #808495;
    top: 1069px;
    left: 1000px;
    position: absolute;
}
.b-text{
    font-family:SourceSansPro-Regular;
    color: #808495;
    top: 944px;
    left: 1000px;
    position: absolute;
}
.bottom-t{
    font-family:SourceSansPro-Regular;
    color: #808495;
    top: 907px;
    left: 1000px;
    position: absolute;
}
.name{
    border: none;
    border-bottom: 2px solid #E9E9F0;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 17px;
    padding: 10px;
}
.link-signin{
    color: #707070;
    margin-top: 29px;
    margin-left: 100px;
}
.bot-text{
    font-family:SourceSansPro-Regular;
    color: #808495;
    top: 680px;
    display: flex;
    justify-content: center;
    left: 864px;
    position: absolute;
}
.email{
    width: 151%;
    border: none;
    border-bottom: 2px solid #E9E9F0;
    margin-top: 17px;
    margin-left: -109px;
    padding: 10px;
}
.but-pass{
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background-color: #43425D;
    margin-top: 71px;
    margin-left: 14px;
    padding-right: 38px;
    padding-left: 36px;
    padding-top: 3px;
    padding-bottom: 9px;
}
.bottom-pass{
    font-family:SourceSansPro-Regular;
    color: #43425D;
    top: 688px;
    display: flex;
    justify-content: center;
    left: 956px;
    position: absolute;
}
.meanpas{
    justify-content: center;
    font-family: SourceSansPro-Regular;
    font-size: 29px;
    letter-spacing: 5px;
    color: #43425D;
    margin-left: 160px;
    margin-top: 95px;
}
.pag-inbox{
    display:flex;
}
.left-text{
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    padding-bottom: 200px;
    background-color: #3e3e58;
}
.head-inbox{
    color: #FFFFFF;
    background-color: #1f1f2f;
    padding-left: 45px;
    padding-top: 11px;
    padding-bottom: 7px;
    padding-right: 48px;
}
.text-par{
    color: white;
}
.par-index:hover{
    border-left: 1px solid white;
    background-color: #3e3e58;
    padding-top: 16px;
    padding-left: 46px;
    padding-bottom: 44px;
    padding-right: 26px;
}
.par-products:hover{
    border-left: 1px solid white;
    background-color: #3e3e58;
    padding-top: 16px;
    padding-left: 46px;
    padding-bottom: 44px;
    padding-right: 26px;
}
.par{
    background-color: #3e3e58;
    padding-top: 16px;
    padding-left: 46px;
    padding-bottom: 44px;
    padding-right: 26px;
}
.text-inbox{
    display: flex;
 flex-direction: column;
    background-color: #FFFFFF;
   border: none;
   margin-top: 20px;
}
.user{
    position: relative;
}
.search-form{
    margin-left: 20px;
}
.icon-input{
    border: none;
    padding: 6px 1197px 17px 30px;
    width: 118%;
}
.icons:hover{
    color: #A3A0FB;
    border-left: solid;
    background-color: #3C3B54;
}
.icons{
background-color: #43425D;
padding: 10px 30px;
font-size: 15px;
color: #A5A4BF;
}
.a{
    font-size: 15px;
    color: #FFFFFF;
}
span{
        font-size: 15px;
        color: #FFFFFF;
}
.icon-input{
    width: 16%;
    padding-top: 22px;
    border: none;
    margin-left: 30px;
}
.drafts{
    width: 15%;
}
.search-form{
    position: relative;
    top: 40px;
    left: -7px;
}
.search{
    margin-top: -16px;
}
.search-icon{
    position: absolute;
    top: 17px;
  right:91px;
}
.support{
    margin-left: -46px;
}
.chat{
    margin-left: 19px;
}
.notification{
    margin-left: 16px;
    border-right: 1px solid #F0F0F7;
}
.man-user{
    position: absolute;
    top: 19px;
  right:20px
}
.man-img{
    position: absolute;
    top: -10px;
    left: 70px;
}
.information-user{
    margin-top: -21px;
    font-family: SourceSansPro-Regular;
    width: 102%;
    height: 94%;
    background-color: #F0F0F7;
}
.head-inf{
    font-size: 28px;
    margin-left: 70px;
    color: #43425D;
    margin-top: 19px;
    padding-top: 40px;
}
.search-infor{
    margin-left: -772px;
    margin-top: 37px;
}
.head-user{
    margin-left: 105px;
    color: #43425D;
    font-family:SourceSansPro-Bold;
    font-size: 28px;
    margin-top: 20px;
}
.fa-circle{
    margin-top: 20px;
}
.data-user{
    width: 96%;
    height: 89%;
    margin-left: 44px;
    background-color: white;
}
.but-user{
    border: none;
    font-family: SourceSansPro-Regular;
    font-size: 18;
    color: #FFFFFF;
    background-color: #3B86FF;
    margin-top: 25px;
    margin-left: 27px;
    padding-right: 41px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.head-infor{
    display: flex;
    font-size: 18px;
    padding-top: 24px;
    margin-top: 20px;
    color: #3B86FF;
    margin-left: 32px;
   }
.anther-data{
    display: flex;
    font-size: 13px;
    color: #4D4F5C;
    padding-top: 17px;
    margin-left: 33px;
}
.sheap{
    width: 50%;
    height: 30%;
    border-radius: 50%;
    background-color: red;
}
.tag-user{
   font-family: SourceSansPro-Regular;
    margin-top: 28px;
    font-size: 13;
    color: #4D4F5C;
    margin-left: 16px;
}
.data-tag{
    display: flex;
    font-size: 13px;
    color: #4D4F5C;
    padding-top: 24px;
    margin-left: 33px;
}
.massege{
    margin-left: 843px;
    /* margin-top: -489px; */
}
.icon-infor{
    border: none;
}
.pepole{
    margin-bottom: -17px;
    margin-left: -652px;
    margin-top: 47px;
}
.head-man{
    margin-top:20px ;
    margin-left: 20px;
    color: #4D4F5C;
    font-size: 13;
}
.par-man{
    margin-top: 8px;
    margin-left: -592px;
    color: #4D4F5C;
    font-size: 13;
}
.sent{
    margin-left: 122px;
    margin-top: -489px;
}
.m-massege{
    margin-left: -139px;
    margin-top: -8px;
}
.man-massege{
    margin-left: -139px;
    margin-top: -8px;
}
.date-massege{
    margin-top: -48px;
    margin-left: -380px;
    color: #4D4F5C;
    font-size: 13;
}
.text-left{
    margin-top: -270px;
    margin-left: 724px;
    font-size: 28px;
    color: #43425D;
}
.but-messege{
    border: none;
    border-radius: 42%;
    padding-left: 29px;
    padding-top: 6px;
    margin-left: -213px;
    padding-bottom: 3px;
    font-size: 11px;
    padding-right: 30px;
    background-color: #FF6565;
    color: white;
    margin-top:20px;
}
.head-messeg{
    font-family:Source Sans Pro ;
    font-size:18px ;
    color:#4D4F5C ;
    margin-left: 20px;
}
.path{
    margin-left: 230px;
}
.par-jan{
    margin-top: -16px;
    margin-left: 312px;
}
.reply{
    margin-top: 37px;
    margin-right: 57px;
    margin-left: -190px;
    background-color: #F5F6FA;
    padding: 18px 53px 188px 30px;
}
.messege-pepole{
    margin-top: 61px;
    margin-left: -138px;
}
.messege-man{
    margin-top: -38px;
    margin-left: -49px;
}
.par-messege{
    margin-top: -27px;
    margin-left: -45px;
}
.text-deved{
    width: 112%;
    margin-top: 32px;
    margin-left: -99px;
    text-align: justify; 
}
.hi{
    margin-top: 32px;
    margin-left: -99px;
}
.non{
    margin-top: 32px;
    margin-left: -99px;
}
.minus{
    margin-top: 32px;
    margin-left: -99px;
}
.est{
    margin-top: 32px;
    margin-left: -99px; 
}
.data-email{
    padding-left: 352px;
    margin-top: -331px;
}
.enter-data{
    border: 1px solid;
    width: 85%;
    color: #E8E9EC;
    margin-bottom: 20px;
    padding-top: 22px;
}
.icon-email{
    width: 85%;
    padding-left: -28px;
    display: flex;
    padding-top: 17px;
    padding-left: -73px;
    border: 1px solid #E8E9EC;
    justify-content: space-between;
}
.write-email{
    border: 1px solid;
    width: 85%;
    color: #E8E9EC;
    margin-bottom: 20px;
    padding-top: 215px;
}
.write-text{
   color: #CACED5;
    margin-left: 35px;
}
.but-write{
    background-color: #3B86FF;
    color: white;
    margin-left: 778px;
    border: none;
    font-size: 15;
    font-family: Source Sans Pro;
    padding: 4px 26px 7px 34px;
}
.prodcut{
    font-family: Source Sans Pro;
    width: 102%;
    padding-left: 13px;
    padding-top: 979px;
    height: -24%;
    background-color: #F0F0F7;
}
.head-prodcut{
    font-family: Source Sans Pro;
    font-size: 28;
    margin-top: -959px;
    margin-left: 58px;
}
.price-prodcut{
    display: flex;
    margin-left: -481px;
    padding-left: -13px;
    padding-bottom: 33px;
    padding-top: 20px;
}
.clothes-prodcut{
    background-color: white;
    padding-bottom: 13px;
    padding-top: -8px;
    padding-right: 183px;
    margin-left: 530px;
}
.img-short{
    margin-left: -61px;
    margin-top:-45px;
}
.img-dris{
    margin-left: -72px;
    margin-top:-19px;
}
.img-jakit{
    margin-left: -74px;
    margin-top: -26px;
}
.img-prodcut{
    margin-left: 33px;
}
.total{
    font-family:Source Sans Pro ;
    font-size: 18;
    color: #56D9FE;
}
.title{
    margin-left: 72px;
}
.shopping{
    background-color: white;
    padding-bottom: 13px;
    padding-top: -8px;
    padding-right: 227px;
    margin-left: 53px;
}
.total-sh{
    font-family:Source Sans Pro ;
    font-size: 18;
    color: #A3A0FB;
}
.price{
    background-color: white;
    padding-bottom: 13px;
    padding-top: -8px;
    padding-right: 226px;
    margin-left: 38px;
}
.total-pric{
    color: #4AD991;;
}
.clothes{
    width: 55%;
    background-color: white;
    margin-left: 55px;
}
.head-clothes{
    margin-left: 47px;
    font-size: 20px;
    font-family:Source Sans Pro ;
}
.bottom-table{
   text-align: center;
    font-size: 13px;
    font-family:Source Sans Pro ;
    color: #3B86FF;
}
.data-clothes{
    padding-top: 20px;
    padding-bottom: 17px;
}
.head-deta{
    background-color: #F5F6FA;
    font-family:Source Sans Pro ;
    font-size: 11;
    padding-left: 10px;
}
.img-product{
    margin-top: 9px;
    margin-left: 39px;
}
.par-prodect{
    margin-top: -30px;
    margin-left: 102px;
    padding-bottom: 66px;
}
.chart{
    background-color: white;
    padding-right: 33px;
    margin-left: 530px;
}
.img-views{
    padding-left: 251px;
    margin-bottom: -121px;
}
.par-view{
    color: #43425D;
    margin-top: 1px;
    margin-left: 20px;
    padding-bottom: 66px;
}
.had-view{
    font-family: Source Sans Pro;
    font-size: 28;
    margin-top: -959px;
    margin-left: 23px;
}
.icon-view{
    color: #FF4141;
    margin-left: 20px;
    margin-top: 29px;
}
.icon-no{
    margin-top: -17px;
    padding-bottom: 11px;
    color:#FF4141;
    font-family:Source Sans Pro ;
    font-size: 11px;
    padding-left: 37px;
}
.sold{
    background-color: white;
    padding-right: 33px;
    margin-left: 59px;
}
.icon-sold{
    color: #3CC480;
    margin-left: 20px;
    margin-top: 29px;
}
.sold-no{
    color: #3CC480;
    margin-top: -17px;
    padding-bottom: 11px;
    font-family:Source Sans Pro ;
    font-size: 11px;
    padding-left: 37px;
}
.all-pox{
    display: flex;
    justify-content: space-between;
}
.earnings{
    background-color: white;
    padding-right: 33px;
    margin-left: 67px;
}
.video{
    display: flex;
    justify-content: space-between;
}
.left-whatch{
margin-left:3%;
margin-top: 25px;
}
.left-video{
    background-color: white;
    margin-left: 55px;
    margin-right: 148px;
    padding-bottom: 54px;
}
.right-video{
    background-color: white;
    margin-left: 55px;
    margin-right: 148px;
    padding-bottom: 54px;
}
.title-av{
    padding-left: 200px;
}
.but-dress{
    background-color: #69E4A6;
    color: #000000;
    margin-left: 191px;
    border: none;
    margin-top: -3px;
    border-radius: 37%;
    font-size: 15;
    font-family: Source Sans Pro;
    padding: 4px 27px 5px 32px;
}
.title-to{
    padding-bottom: 22px;
    padding-left: 162px;
    padding-top: -3px;
}
.price-table{
    font-family: Source Sans Pro;
    font-size: 11;
    padding-top: 25px;
    padding-left: 152px;
}
.but-stock{
    background-color:#FF7285;
    color: #000000;
    margin-left: 191px;
    border: none;
    margin-top: -3px;
    border-radius: 37%;
    font-size: 15;
    font-family: Source Sans Pro;
    padding: 4px 27px 5px 32px; 
}
.but-shirt{
    background-color:#FFCA83;
    color: #000000;
    margin-left: 191px;
    border: none;
    margin-top: -3px;
    border-radius: 37%;
    font-size: 15;
    font-family: Source Sans Pro;
    padding: 4px 27px 5px 32px; 
}
.detiles{
    margin-top: -563px;
    margin-left: 940px;
    width: 25%;
    background-color: white;
}
.head-detiles{
    font-size: 20px;
    font-family: Source Sans Pro;
    padding-top: 21px;
    margin-left: 34px;
}
.img-detiles{
    margin-left: 12px;
    padding-top: 63px;
}
.hours{
    font-family:Source Sans Pro;
    font-size:12px;
    margin-top: 12px;
}
.custmer{
    margin-left: 208px;
    margin-top: -19px;
}
.custmer-no{
    margin-left: 253px;
    margin-top: -19px;
}
.option{
    background-color: white;
    width: 65%;
    border: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #F0F0F7;
}
.orders-stock{
    padding-bottom: 41px;
}
.title-pro{
    padding-left: 10px;
}
.head-view{
    font-family: Source Sans Pro;
    font-size: 28;
    margin-top: -959px;
    margin-left: 58px;
}
.price-views{
    display: flex;
    margin-left: -478px;
    padding-left: -13px;
    padding-bottom: 33px;
    padding-top: 20px;
}
.total-views{
    background-color: white;
}
.h-total{
    font-family:Source Sans Pro ;
    font-size:13 ;
    color:#43425D ;
    margin-top: 20px;
    margin-left: 10px;
}
.no-views{
    font-family:Source Sans Pro ;
    font-size:13 ;
    color:#43425D ;
    margin-top: 20px;
    margin-left: 10px;
}
.pag-chat{
    margin-top: -21px;
    font-family: Source Sans Pro;
    margin-left: 3px;
    width: 102%;
    height: 96%;
    background-color: #F0F0F7;
}
.search-chat{
    position: relative;
    top: 36px;
    left: 22px;
    border-bottom:1px solid #F0F0F7;
}
.head-room{
    font-family: Source Sans Pro;
    font-size: 28px;
    margin-left: 130px;
    padding-top: 14px;
    margin-top: 21px;
}
.chat-massege{
    width: 85%;
    height: 91%;
    background-color: white;
    margin-left: 122px;
    margin-top: 24px;
}
.chat-user{
    margin-top: 63px;
    margin-left: 23px;
    color: #4D4F5C;
}
.head-chat{
    margin-top:20px ;
    margin-left: 20px;
    color: #4D4F5C;
    font-size: 13;
}
.par-chat{
    margin-left: 69px;
    color: #4D4F5C;
    font-size: 13px;
}
.date-chat{
    margin-top: -49px;
    margin-left: 390px;
    color: #4D4F5C;
    font-size: 13;
}
.online{
    margin-top: -801px;
    margin-left: 627px;
}
.head-online{
    margin-left: 69px;
    margin-top: -39px;
}
.par-online{
    margin-left: 69px;
   
}
.icon-chat{
    margin-top: -26px;
    margin-left: 470px;
    color: #A4AFB7;
}
.write-chat{
    margin-right: 245px;
    background-color: #EDF0F5;
    margin-top: 78px;
    border-radius: 44%;
    margin-left: -4px;
    padding: 12px 1px 7px 9px;
  }
.time-chat{
    font-family: SourceSansPro-Regular;
    font-size:11px ;
    color: #43425D;
    margin-left: 0px;
}
.read-chat{
    background-color: #3B86FF;
    color: white;
    border-radius: 29%;
    margin-top: 78px;
    margin-right: 15px;
    margin-left: 213px;
    padding: 15px 21px 13px 12px;
}
.read-time{
    font-family: SourceSansPro-Regular;
    font-size:11px ;
    color: #43425D;
    margin-left: 404px;
}
.sent-mesege{
    margin-top: 196px;
    background-color: #F5F6FA;
    margin-right: 34px;
    padding: 89px 170px 22px 63px;
}
.sent-file{
    font-family: Source Sans Pro;
    font-size: 13;
    color: #3B86FF;
    margin-top: -77px;
    margin-left: 11px;
}
.file{
    margin-top: 20px;
    margin-left: 7px;
    padding-left: -44px;
    color: #CECFD0;
}
.top-pag{
    margin-left: 47px;
}
.all_prodecut{
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-top: 36px;
}
.prodecut-name{
    margin-bottom: 267px;
}
.phone{
    width: 109%;
    padding-top: 20px;
    margin-right: -145px;
    margin-bottom:31px;
    background-color: white;
}
.head-name{
    font-family:  SourceSansPro-Bold;
    font-size: 18px;
    color: #43425D;
    margin-left: 31px;
    margin-top: 24px;
}
.par-dolor{
    width: 44%;
    font-family:  SourceSansPro-Regular;
    font-size: 13px;
    color:#4D4F5C;
    margin-left: 31px;
    margin-top: 24px;
}
.icon-pag{
    color: #FF6565;
    margin-left: 33px;
}
.icon-start{
    color: #FF6565;
    margin-top: 15px;
    margin-left: 30px;
}
.small-icon{
    color: #E9E9F0;
    margin-top: -19px;
    margin-left: 117px;
}
.par-pag{
    font-family: Source Sans Pro;
    font-size: 13px;
    color: #4D4F5C;
    margin-top: 102px;
    margin-left: 32px;
}
.but-pag{
    background-color: #3B86FF;
    color: white;
    margin-left: 44px;
    border: none;
    margin-top: 60px;
    font-size: 15;
    font-family: Source Sans Pro;
    padding: 4px 26px 7px 34px;
    margin-bottom: 32px;
}
.bottom_prodecut{
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-top: -202px;
}
.img-t-shirt{
    margin-top: -310px;
    margin-left:273px;
    margin-right:-390px; 
}
.img-blue{
     margin-top: -312px;
     margin-left:246px;
     margin-right:-58px;
}
.img-dres{
    margin-top: -280px;
    padding-left:298px;
}
.cola{
    width: 91%;
    margin-left: 3px;
   padding-top: 20px;
    background-color: white;  
}
.whatch{
    width: 152%;
    padding-top: 20px;
    margin-right: -200px;
    margin-bottom:29px;
    background-color: white;
}
.tab{
    width: 109%;
    margin-left: -78px;
   padding-top: 20px;
    background-color: white; 
}
.img-tab{
    margin-top: -281px;
    padding-left: 231px;
}
.prodecut-show{
    padding-bottom: 35PX;
    display: flex;
    justify-content: space-between;
    margin-left: 168px;
}
.prodecut-discount{
    padding-left:140px;
    margin-top: 33px;
    margin-left: -119px;
    background-color: white;
    padding-top: 20px;
}
.icon-dicount{
    color: #FF6565;
    margin-left: 123px;
    margin-top: -17px;
}
.img-discount{
    margin-top: 19px;
    margin-left: -121px;
}
.head-discount{
    font-family:  SourceSansPro-Bold;
    font-size: 18px;
    color: #4D4F5C;
    margin-left: -17px;
    margin-top: 6px;
}
.icon-dis{
    background-color: #FF6565;
    border-radius: 53%;
    border: none;
    padding: 12px;
    margin-left: 89px;
}
.par-discount{
    font-family:  SourceSansPro-Regular;
    font-size: 13px;
    color:#4D4F5C;
    margin-left: -10px;
    margin-top: 9px;
}
.no-discount{
    font-family:  SourceSansPro-Bold;
    font-size: 18px;
    color: #FF6565;
    margin-left: -187px;
    margin-top:8px;
    padding-left: 173px;
    margin-bottom: 15px;
}
.but-sale{
padding: 0px 7px 7px 9px;
margin-top: -8px;
border: none;
margin-left: -136px;
font-family: SourceSansPro-Bold ;
font-size:13px ;
color:white ;
background-color: #FF6565;
}
.no-dis{
    font-family: SourceSansPro-Bold;
    font-size: 25px;
    color: #4D4F5C;
    margin-left: -126px;
    margin-top: 7px;
    padding-left: 141px
}
.but-discount{
    background-color: #3B86FF;
    color: white;
    margin-left: -19px;
    border: none;
    margin-top:11px;
    font-size: 15px;
    font-family: Source Sans Pro;
    padding: 3px 18px 7px 29px;
}
.dress_blue{
    margin-left: -139px;
    margin-top: -20px;
}
.red{
    margin-left: -141px;
    margin-top:-22px;  
}
.whit{
    margin-left: -140px;
    margin-top:-23px; 
} 
.head-description{
    font-family:  SourceSansPro-Bold;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-left: -13px;
    margin-top: -119px;
}
.par-description{
    font-family: SourceSansPro-Regular;
    margin-left: 13px;
    color: white;
}
.but-description{
    background-color: #3B86FF;
    color: white;
    margin-left: 29px;
    border: none;
    margin-top: 11px;
    font-size: 15px;
    font-family:SourceSansPro-Regular;
    padding: 3px 18px 7px 29px;
}
.data-company{
    width: 90%;
    height: 86%;
    margin-left: 70px;
    background-color: white;
}
.head-company{
    display: flex;
    font-family: Source Sans Pro;
    font-size: 28px;
    padding-top: 24px;
    margin-top: 20px;
    color: #43425D;
    margin-left: 32px;
   }
   .par-company{
    font-family: Source Sans Pro;
    font-size: 13px;
    margin-top: 24px;
    color: #4D4F5C;
    margin-left: 32px;
   }
   .no-company{
    font-family: Source Sans Pro;
    font-size: 13px;
    margin-top: 4px;
    color: #4D4F5C;
    margin-left: 32px;
   }
 .head-right{
    font-family: Source Sans Pro;
    font-size: 28px;
    color: #4D4F5C;
    direction: rtl;
    margin-right: 20px;
    margin-top: -81px;
}
.but-company{
    background-color: #43425D;
    color: white;
    border: none;
    margin-right: 21px;
    margin-top: 2px;
    font-size: 15px;
    font-family: Source Sans Pro;
    padding: 4px 42px 6px 41px;
}
.center-company{
    margin-top: 82px;
    margin-left: 38px;
}
.head-center{
    font-family:SourceSansPro-Bold;
    font-size: 21px;
    color: #4D4F5C;
}
.user-company{
    font-family: SourceSansPro;
    font-size: 13px;
    color: #515465;
    margin-top: 10px;
}
.folsom{
    font-family: SourceSansPro;
    font-size: 13px;
    color: #515465;
    margin-top: 10px;
}
.ca{
    font-family: SourceSansPro;
    font-size: 13px;
    color: #515465;
    margin-top: 10px;
}
.company-right{
    direction: rtl;
    margin-right: 20px;
    margin-top: -81px;
}
.order-company{
    font-family: Source Sans Pro;
    font-size: 23px;
    color: #4D4F5C;
    margin-right: 82px;
}
.date-order{
    margin-right: -12px;
    font-family: Source Sans Pro;
    font-size: 13px;
    color: #4D4F5C;
    margin-top: -20px;
}
.order-status{
    font-family: Source Sans Pro;
    font-size: 23px;
    color: #4D4F5C;
    margin-right: 66px;
}
.but-pending{
    background-color: #FFCA83;
    color: #000000;
    margin-right: -196px;
    border: none;
    border-radius: 26%;
    margin-top: -7px;
    font-size: 11px;
    font-family: Source Sans Pro;
    padding: 4px 11px 4px 13px;
    margin-bottom: 32px;
}
.order-date{
 margin-right: 102px;
    font-family: Source Sans Pro;
    font-size: 20px;
    color: #4D4F5C;
    margin-top: -34px;
   }
   .id{
       margin-top: -36px;
   }
   .date-id{
    font-family: Source Sans Pro;
    font-size: 13px;
    color: #4D4F5C;
    margin-top: -18px;  
   }
   .table-company{
    margin-top: 42px;
    margin-left: 25px;
   }
   .h-company{
       background-color:#F5F6FA ;
       color:#A3A6B4 ;
   }
   .no{
    padding-top: 17px;
    padding-right: 26px;
    padding-bottom: 10px;
   }
   .items{
    padding-top: 17px;
    padding-right: 167px;
    padding-bottom: 8px;
   }
   .number{
       padding-top: 17px;
       padding-right:4px ;
       padding-bottom:8px ;
   }
   .women{
    padding-top: 17px;
    padding-right:4px ;
    padding-bottom:8px ;
   }
   .bottom-data{
    direction: rtl;
    margin-top: 150px;
    margin-right: 99px;
   }
   .sub{
    margin-top: 94px;
    margin-right: -9px; 
   }
   .no-sub{
    margin-top: -19px;
    margin-right: -64px;
   }
   .usd{
    margin-top: 20px;
    margin-right: -71px 
   }
   .usd-no{
    font-family: Source Sans Pro;
    font-size: 28px;
    color: #4D4F5C;
   }
   .but-submite{
    background-color: #3B86FF;
    color: white;
    border: none;
    margin-right: 16px;
    margin-right: 16px;
    margin-top: 3px;
    font-size: 15px;
    font-family: Source Sans Pro;
    padding: 4px 42px 6px 41px;
   }
.search-right{
    padding-right: 304px;
    padding-bottom: 12px;
    background-color: white;
    width: 13%;
    padding-top: 8px;
    margin-left: 590px;
    margin-top: -40px;
}
.search-costomers{
    border: none;
}
.custmers-user{
    display: flex;
    justify-content: space-between;
}
.custmer-left{
    background-color: white;
    margin-left: 73px;
    margin-top: 41px;
    padding-right: 18px;
    padding-left: 150px;
}
.customers-top{
    background-color: white;
    margin-top: 41px;
    margin-right: 287px;
    padding-right: 24px;
    padding-left: 272px;
}
.custmer-end{
    background-color: white;
    margin-top: 41px;
    margin-right: 287px;
    padding-right: 24px;
    padding-left: 272px;
}
.customers-center{
    background-color: white;
    margin-left: 65px;
    margin-top: 41px;
    padding-right: 32px;
    padding-left: 151px;
}
.img-clent{
    margin-top: -40px;
    margin-left: -129px;
    padding-top: 28px;
    border-bottom: 1px solid #CACED5;
}
.par-clent{
   font-family:SourceSansPro-Regular ;
   font-size:15px;
    color:#43425D ;
    margin-top:-55px;
    margin-left:-50px;
}
.mobile{
    font-family:SourceSansPro-Regular ;
   font-size:15px;
    color:#43425D ;
    margin-left: -49px; 
    /* border-bottom: 1px solid #CACED5 ;  */
}
.icon-pen{
    margin-top: 20px;
    margin-left: 255px;
    color: #A4AFB7;
}
.icon-error{
    margin-left: 306px;
    color: #A4AFB7;
    margin-top: -19px;
}
.social{
    color: #A4AFB7;
    margin-top: 36px;
    padding-bottom: 10px;
}
.right-whatch {
    background-color: white;
    margin-right: 161px;
    padding-bottom: 54px;
}
.left-overview{
    font-family: Source Sans Pro;
    font-size: 15px;
    padding-bottom: 200px;
    background-color: #3e3e58; 
}
.table-overview{
    display: flex;
    margin-left: -26px;
}
.tablevideo{
    background-color: white;
    margin-left: 82px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 80px;
    padding-right: 23px;
}
.head-video{
    padding-right: 80px;
}
.table-watch{
    background-color: #F5F6FA;
    color: #A3A6B4;
    margin-right: 20px;
}
.table-detiles{
    margin-top: 23px;
    margin-left: 149px;
    margin-bottom: 75px;
    width: 25%;
    background-color: white;
}
.text-deved{
    text-align: justify;
}